body {
    min-height: 100vh;
    margin: 0;
}

.bod {
    display: flex;
    min-height: inherit;
}

.sidebar {
    background-image: url(mountain.jpg);
    width: 33%;
}

label, input {
    display: block;
}