@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

html {
    background-color: rgb(249, 250, 251);
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
}

.bod {
    display: flex;
    min-height: inherit;
}

.sidebar {
    background-image: url(mountain.jpg);
    width: 50%;
}

label, input {
    display: block;
}

form>div {
    display: flex;
}

.textcont {
    width: 60%;
    padding: 1rem 8rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.form {
    padding: 1rem 0 3rem 8rem;
    background-color: rgb(255, 255, 255);
    width: auto;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.footer {
    margin: 2rem 9rem;
}

button {
    all: unset;
    color: white;
    background-color: #db9461;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 0.9rem 3rem;
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 1px 30px rgba(241, 124, 28, 0.2);
    position: relative;
    bottom: 1px;
    transition-duration: 0.2s;
}


.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formRow {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    max-width: 45em;
}

label {
    font-size: 0.7rem;
    font-weight: 600;
}

input {
    all: unset;
    border: #E5E7EB 1px solid;
    border-radius: 5px;
    height: 1.7rem;
    margin-top: 3px;
    width: 18em;
    padding: 1px 10px;
}

input:focus {
    box-shadow: 0 1px 10px rgba(241, 124, 28, 0.4);
    border-color: #f7a72f;
}

a {
    all: unset;
    color: #db9461;
    cursor: pointer;
    font-weight: bold;
}

a:hover {
    color: #faac74;
}